* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/* header */
header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 0 200px;
    margin-top: 20px;
    padding-bottom: 20px;
}

nav {
    width: 50%;
}

.navheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

.img1 {
    width: 64px;
    height: 100%;
    object-fit: cover;
    border-radius: 0 300px 0 100px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.logo {
    width: 200PX;
}

.white {
    color: rgb(255, 255, 255);
}

/* header */
.hero {
    background-image: url(assets/Banner.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 0 200px;
    padding-top: 200px;
    padding-right: 600px;
}

h1 {
    font-size: 85px;
    font-family: "DM Serif Display", serif;
}

h3 {
    font-size: 20px;
    color: #000;
    font-family: "DM Serif Display", serif;
}
h2 {
    font-size: 50px;
    color: #000;
    font-weight: bold;
    font-family: "DM Serif Display", serif;
}	

.div1 {
    width: 600px;
}

.btn {
    display: inline-block;
    padding: 26px 31px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333;
}
.margintop {
    margin-top: 20px;
    margin-bottom: 20px;
}

.spacebetween {
    
    justify-content: space-between;
}

.flexend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 200px 0 200px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.sub {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.img {
    width: 200px;
    height: 250px;
    border-radius: 0px 50px 0px 50px;
    margin-top: 20px;
}

/*Largeur */
.width40 {
    width: 40%;
}

.gap20 {
    gap: 20px;
}

.justifycenter {

    justify-content: center;

}

.whiteclr {
    background-color: #9a9e879d;
}

.bold {
    font-weight: 700;
}

/* AVIS CLIENT */
.card {
    background-color: aqua;

}

.largeur30 {
    width: 30%;
}

.width30 {
    width: 30%;
}

.card>div {
    width: 75%;
}

.card>img {
    width: 15%;
}

.aligncenter {
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;

}

.nomProfil {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.top100{
    margin-top: 100px;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.top40 {
    margin-top: 20px;
}
.whitebackround {
    background-color: #fff;
}